.member-detail-container {
  display: flex;
  margin: 0 auto;
  font-family: var(--font-family);
}

.member-sidebar {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #d3d3d7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px 0 24px 0;
}
.member-name {
  font-size: var(--size-24px);
  font-weight: 500;
  margin-bottom: 32px;
  text-align: center;
  letter-spacing: 1px;
}
.role {
  font-size: var(--size-12px);
  font-weight: 400;
}
.section {
  width: 85%;
  margin: 32px 0 0 0;
}
.section-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: none;
}
.contact-info {
  margin-top: 10px;
}
.contact-row {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-bottom: 10px;
  gap: 10px;
}
.icon.email::before {
  content: '\2709';
  margin-right: 8px;
}
.icon.facebook::before {
  content: '\f09a';
  font-family: 'FontAwesome';
  margin-right: 8px;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 12px;
}
.skill-item {
  background: var(--base-palette-gray-400);
  border-radius: 4px;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
}

.member-main {
  flex: none;
  width: 850px;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: var(--base-palette-white-100);
}

.member-section {
  border-radius: 12px;
  padding: 48px;
}
.member-section-title {
  font-size: 22px;
  font-weight: 500;
  border-bottom: 2px solid #222;
  margin-bottom: 18px;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: none;
}
.member-description {
  font-size: 16px;
  line-height: 1.7;
  color: #222;
  margin-bottom: 32px;
}

.projects-section {
  border-radius: 12px;
  padding: 32px;
  position: relative;
  overflow: hidden;
}
.projects-section .section-title {
  font-size: 22px;
  margin-bottom: 18px;
  border-bottom: 2px solid #222;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: none;
}
.project-scroll-wrapper {
  width: 850px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  cursor: grab;
}
.projects-list-horizontal {
  display: flex;
  gap: 32px;
  transition: all 0.3s cubic-bezier(.4,0,.2,1);
  user-select: none;
  width: fit-content;
}
.projects-list-horizontal:active {
  cursor: grabbing;
}
.projects-list-horizontal::-webkit-scrollbar {
  display: none;
}
