.home-page {
	height: calc(100dvh - 136px);
	width: 100%;

	overflow: hidden;
	overflow-y: auto;
	scrollbar-width: none;
	-ms-overflow-style: none;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

.home-page__section {
	overflow: hidden;
	margin: auto;
	height: 100%;
	width: 100%;

	scroll-snap-align: start;
	position: relative;
}

.home-page__section--first {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.home-page__container {
	width: 678px;
}

.home-page__title {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-size: 57px;
	line-height: 64px;
	letter-spacing: -0.0025em;
	color: #424242;
}

.home-page__description {
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.005em;
	color: #616161;
	margin-block: 40px;
}

.home-page__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 157px;
	height: 40px;
	background: #00838f;
	box-shadow: -9px -6px 25px #ffffff, 6px 7px 30px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(2px);
	border-radius: 4px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.001em;
	color: #ffffff;
	transition: 0.1s;
}

.home-page__button:hover {
	background: #00acc1;
}

.home-page__button:active {
	color: #616161;
	background: #eae9ee;
	box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.75), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-page__image {
	width: 343px;
	height: 600px;
}

.home-page__content {
	height: calc(100% - 200px);
	padding-top: 100px;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.home-page__announcement {
	margin-top: 20px;
	width: 831px;
	padding: 16px;
	border: 1px solid #eae9ee;
	border-radius: 15px;
	transition: 0.2s;
	height: fit-content;
}

.home-page__announcement:hover {
	border: 1px solid #00838f;
}

.home-page__announcement:hover .home-page__announcement-title {
	color: #00838f;
}

.home-page__announcement-title {
	width: 801px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-size: 45px;
	line-height: 52px;
	color: #616161;
}

.home-page__announcement-description {
	transition: 0.2s;
	margin-top: 16px;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.005em;
	color: #757575;
}

.home-page__announcement-image {
	width: 269px;
	height: 473px;
}

.home-page__events {
	text-align: center;
}

.home-page__events-list {
	display: flex;
	gap: 32px;
	justify-content: center;
}

.home-page__events-title {
	transition: 0.2s;
	width: 261px;
	height: 116px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	color: #757575;
	cursor: pointer;
}

.home-page__events-title:hover {
	color: #00838f;
}

.home-page__events-action {
	cursor: pointer;
	font-family: 'Quicksand';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.001em;
	color: #00838f;
}

/* Responsive styles */
@media (max-width: 1275px) {

	.home-page__section--first,
	.home-page__content {
		flex-direction: column;
		align-items: center;
	}

	.home-page__section--second .home-page__content {
		padding: 0;
	}

	.home-page__container {
		width: 90vw;
		max-width: 650px;
		text-align: center;
	}

	.home-page__image {
		width: 220px;
		height: 350px;
		margin-top: 24px;
	}

	.home-page__announcement {
		width: 90vw;
		max-width: 650px;
		padding: 12px;
		text-align: center;
	}

	.home-page__announcement-title {
		width: 100%;
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: 400;
		font-size: 57px;
		line-height: 64px;
		letter-spacing: -0.0025em;
		color: #424242;
	}

	.home-page__announcement:hover {
		border: 1px solid #eae9ee;
	}

	.home-page__description {
		margin-block: 20px;
		max-width: 500px;
		margin: 20px auto;
	}

	.home-page__announcement-description {
		line-height: 24px;
		margin-top: 12px;
		font-family: 'Quicksand';
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.005em;
		color: #616161;
	}

	.home-page__section--first .home-page__container:hover .home-page__title {
		color: #00838f;
	}

	.home-page__announcement-image {
		/* width: 180px;
		height: 300px;
		margin-top: 24px; */
		display: none;
	}

	.home-page__container button {
		margin: 0 auto;
	}
}

@media (max-width: 800px) {
	.app-container {
		padding: 0;
	}
	html{
		font-size: calc(100vw/ 800);
	}
	.home-page__section--first .button{
		font-size: 28rem;
	}
	.home-page__section--first,
	.home-page__content {
		flex-direction: column;
		align-items: center;
		padding: 0;
	}
	.home-page {
		padding-top: 70rem;
		height: auto;
		min-height: 100dvh;
		padding-bottom: 32rem;
	}
	.home-page__content{
		text-align: center;
		margin: auto;
	}
	.home-page__announcement, .home-page__container{
		margin-top: 20rem;
		width: 80vw;
		padding: 16rem;
		border: 1rem solid #eae9ee;
		border-radius: 15rem;
		transition: 0.2s;
		height: fit-content;
	}
	.home-page__title, .home-page__announcement-title {
		font-size: 60rem;
		margin: auto;
		line-height: 55rem;
	}

	.home-page__description, .home-page__announcement-description{
		font-size: 30rem;
		line-height: 35rem;
		margin-block: 30px 20rem;
		text-align: justify;
	}

	.home-page__section--first .button {
		margin-top: 40rem;
		width: 250rem;
		height: 70rem;
	}

	.home-page__image {
		width: 35vw;
		height: calc(35vw * 9 / 5);
		aspect-ratio: 9 / 2;
		margin-top: 70rem;
		margin-block: 150rem 100rem;
	}

	.home-page__announcement {
		padding: 8rem;
		border-radius: 10rem;
		font-size: 14rem;
	}
	.home-page__announcement-image {
		width: 40vw;
        height: calc(40vw * 9 / 6);
        aspect-ratio: 9 / 2;
        margin-top: 0rem;
		margin-block: 150rem 100rem;
	}

	.home-page__events-list {
		flex-direction: column;
		gap: 16rem;
	}

	.home-page__events-title {
		width: 100%;
		height: auto;
		font-size: 16rem;
		line-height: 20rem;
		padding: 0 2rem;
	}
}