.members{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.members-title{
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 57px;
    line-height: 64px;
    letter-spacing: -0.0025em;
    opacity:70%;
    color: #000000;
}
.members-cart{
    width: 100%;
    height:max-content;
    display: flex;
    justify-content: space-between;
    gap:20px;
    flex-wrap: wrap;
}

@media (max-width: 1200px) {
    .members-cart{
        flex-direction: column;
        align-items: center;
    }
}