.item-table {
  text-align: center;
  max-width: var(--app-body-max-width);
}

.item-table-title {
  font-family: "Quicksand";
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 3.563rem;
  line-height: 64px;
  letter-spacing: -0.0025em;
  color: #757476;
}

.item-table-filter-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-block: 47px 78px;
}

.item-table-filter-item-search {
  flex: 1;
  background: #EAE9EE;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 128px;
  display: flex;
  align-items: center;
  padding-inline: 12px;
  gap: 16px;
  box-sizing: border-box;
}
.item-table-search-input {
  width: 100%;
  padding-inline: 8px;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.0025em;
  color: #191919;
}
.item-table-search-input::placeholder {
  color: #828282;
}

.item-table-cart {
  margin: auto;
  margin-bottom: 103px;
}

.item-table-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

.item-table-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: calc(50% - 20px);
}

.item-table-pagination {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  justify-content: center;
  align-items: end;
}

.item-table-pagination-button {
  height: 24px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.001em;
  color: #616161;
  background-color: transparent;
  border: none;
}

.item-table-pagination-button.active {
  font-size: 20px;
  letter-spacing: 0.001em;
  color: #00838f;
}

.item-table-pagination-dots {
  font-size: 18px;
  color: #616161;
  padding: 0 4px;
}

.item-table-filter-container > img{
  display: none;
}

.item-table-filter-container > svg{
  display: none;
}
.item-table-filter-container > button{
  padding: 5px 10px;
  background-color: #00838f;
  color: white;
  text-transform:capitalize;
  border-radius: 15px;
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.0025em;
}


/* Tablet */
@media (min-width: 935px) and (max-width: 1010px) {
  .item-table-filter-container > img{
    display: inline-block;
  }
}
/* Mobile */
@media (min-width: 300px) and (max-width: 935px) {
  .item-table-card{
    width: 100%;
  }
  .item-table-filter-item{
    display: none;
  }
  .item-table-filter-container > svg{
    display: inline-block;
  }
  .item-table-filter-container{
    gap: 10px;
    justify-content: flex-end;
    margin: 20px 0;
  }
  .item-table-list{
    flex-direction: column;
    align-items: center;
  }
  .member-card__left > p{
    display: flex;
    flex-direction: column;
  }
}