.global-search {
	width: 100%;
	max-width: 324px;
	height: var(--size-48px);
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--base-palette-white-a-60);
	border-radius: var(--radius-full);
	transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.global-search:hover {
	border-color: var(--token-primary);
}

.global-search:focus-within {
	border-color: transparent;
	box-shadow: 1px 1px 4px 0px #00000040 inset, -1px -1px 10px 0px #ffffffbf inset;
}

.global-search-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 7px 8px;
}

.search-icon-left {
	margin-right: 8px;
	font-size: 1rem;
	padding: 0.25rem;
	color: var(--base-palette-cyan-800);
}

.search-input {
	flex: 1;
	font-size: 0.875rem;
	font-weight: 400;
	padding: 4px 8px;
	color: var(--token-onbackground-1);
}

.search-input::placeholder {
	color: var(--token-onbackground-1);
}

.search-icon-right {
	margin-left: 8px;
	font-size: 1rem;
	cursor: pointer;
	padding: 0.25rem;
	transition: opacity 0.2s ease;
	color: var(--base-palette-cyan-800);
	opacity: 0;
}

.global-search:focus-within .search-icon-right {
	opacity: 1;
}

.global-search.has-content .search-icon-right {
	opacity: 1;
}
