@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root {
	/* Base */
	/* Pallete */
	/* White-Black */
	--base-palette-white-100: #ffffff;
	--base-palette-white-a-60: rgba(255, 255, 255, 0.6);
	--base-palette-white-a-40: rgba(255, 255, 255, 0.4);
	--base-palette-black-100: #000000;
	/* Gray */
	--base-palette-gray-50: #fafafa;
	--base-palette-gray-100: #f5f5f5;
	--base-palette-gray-200: #eeeeee;
	--base-palette-gray-250: #eae9ee;
	--base-palette-gray-300: #e0e0e0;
	--base-palette-gray-400: #bdbdbd;
	--base-palette-gray-500: #9e9e9e;
	--base-palette-gray-600: #757575;
	--base-palette-gray-700: #616161;
	--base-palette-gray-800: #424242;
	--base-palette-gray-900: #212121;
	/* Cyan */
	--base-palette-cyan-50: #e0f7fa;
	--base-palette-cyan-100: #b2ebf2;
	--base-palette-cyan-200: #80deea;
	--base-palette-cyan-300: #4dd0e1;
	--base-palette-cyan-400: #26c6da;
	--base-palette-cyan-500: #00bcd4;
	--base-palette-cyan-600: #00acc1;
	--base-palette-cyan-700: #0097a7;
	--base-palette-cyan-800: #00838f;
	--base-palette-cyan-900: #006064;
	/* Red */
	--base-palette-red50: #feebee;
	--base-palette-red100: #feced2;
	--base-palette-red200: #ed9b9a;
	--base-palette-red300: #e27573;
	--base-palette-red400: #ec5751;
	--base-palette-red500: #f04837;
	--base-palette-red600: #e13f36;
	--base-palette-red700: #cf3630;
	--base-palette-red800: #c22f29;
	--base-palette-red900: #b3261e;
	/* Green */
	--base-palette-green50: #e7f5e7;
	--base-palette-green100: #c5e5c4;
	--base-palette-green200: #a0d49f;
	--base-palette-green300: #7ac479;
	--base-palette-green400: #5cb85c;
	--base-palette-green500: #3eab3e;
	--base-palette-green600: #359d36;
	--base-palette-green700: #288b2b;
	--base-palette-green800: #1c7a20;
	--base-palette-green900: #025b0e;
	/* Yellow */
	--base-palette-yellow50: #fefce6;
	--base-palette-yellow100: #fcf7c1;
	--base-palette-yellow200: #faf198;
	--base-palette-yellow300: #f8ec6e;
	--base-palette-yellow400: #f6e74d;
	--base-palette-yellow500: #f3e228;
	--base-palette-yellow600: #f4d225;
	--base-palette-yellow700: #f3ba1c;
	--base-palette-yellow800: #f1a212;
	--base-palette-yellow900: #ee7800;
	/* Number */
	/* %(Percent) */
	--percent-100: 100;
	--percent-80: 80;
	--percent-60: 60;
	--percent-40: 40;
	--percent-20: 20;
	--percent-0: 0;
	/* Unit */
	--size-2px: 2px;
	--size-4px: 4px;
	--size-8px: 8px;
	--size-12px: 12px;
	--size-16px: 16px;
	--size-24px: 24px;
	--size-32px: 32px;
	--size-40px: 40px;
	--size-48px: 48px;
	--size-56px: 56px;
	--size-64px: 64px;
	--size-96px: 96px;
	--size-128px: 128px;
	/* Token */
	/* Color */
	--token-primary: var(--base-palette-cyan-800);
	--token-primary-lighter: var(--base-palette-cyan-600);
	--token-onprimary: var(--base-palette-white-100);
	--token-background: var(--base-palette-gray-250);
	--token-onbackground-1: var(--base-palette-gray-800);
	--token-onbackground-2: var(--base-palette-gray-700);
	--token-onbackground-3: var(--base-palette-gray-600);
	--token-error: var(--base-palette-red900);
	--token-color-warning: #ffcc00;
	--token-color-success: var(--base-palette-green800);
	--token-color-link: var(--token-primary);
	/* Radius */
	--radius-full: 128px;
	--radius-large: 32px;
	--radius-medium: 16px;
	--radius-small: 4px;
	/* Components */
	/* Button */
	/* Surface */
	--surface-primary-default: var(--token-primary);
	--surface-primary-hover: var(--token-primary-lighter);
	--surface-primary-pressed: var(--token-background);
	--surface-secondary: var(--token-background);
	--surface-tertiary: var(--token-background);
	/* Text */
	--text-primary: var(--token-onprimary);
	--text-primary-pressed: var(--token-onbackground-2);
	--text-secondary: var(--token-primary);
	--text-secondary-pressed: var(--token-onbackground-2);
	--text-tertiary: var(--token-onbackground-1);
	--text-tertiary-hovered: var(--token-primary);
	--text-plain: var(--token-onbackground-1);
	--text-plain-a: var(--token-primary);
	/* Border */
	--border-hovered: var(--token-primary);
	--border-white: var(--base-palette-white-100);
	/* Corner */
	--corner-rounded-full: var(--radius-full);
	/* Tooltip */
	--app-block-max-width: 1440px;
	--app-container-width: 100vw;
	--app-body-max-width: 1200px;
	/* Font-family */
	--font-family: 'Quicksand',
	sans-serif;
	/* Font Weight */
	--font-weight-thin: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
}
